
.settings/org.eclipse.core.resources.prefs

target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

target/m2e-wtp/web-resources/META-INF/maven/kdo.de/noel/pom.properties

target/m2e-wtp/web-resources/META-INF/maven/kdo.de/noel/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/kdo.de/noel/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/kdo.de/noel/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

*.properties

target/m2e-wtp/web-resources/META-INF/maven/kdo.de/noel/pom.properties

target/m2e-wtp/web-resources/META-INF/maven/kdo.de/noel/pom.xml

target/test-classes/log4j.xml

target/m2e-wtp/web-resources/META-INF/maven/kdo.de/noel/pom.properties

*.class

.classpath
